$theme-yellow: #F7CA52;

.main{
    background-color: black;
    height: 100vh;
}

.theme-text{
    color: $theme-yellow;
    font-weight:600;
    //margin-left: -40px;
}

.main-content {
    text-align: center;
    height: 100vh;
}
.main-content > div {
    margin-top: auto;
    margin-bottom: auto;
}
section{
    height: 100%;
}
.typed-element{
    font-size: 3rem;
    font-weight: 700;
    color: $theme-yellow;
}
.typed-cursor {
    font-size: 3rem;
    color: $theme-yellow;
}
@media only screen and (max-width: 600px) {
    .typed-element {
        font-size:2.2rem;
    }
  }

.placeholder {
    font-size: 2rem;
    font-weight: 600;
    color: white;
}
.placeholder-secondary{
    font-size: 1.2rem;
    color: white;
}