<section class="gradient-form" style="background-color: #eee; height: 100%;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                    
                    <button type="button" class="btn btn-hire py-0 mb-2" routerLink="/">
                        <i class="bi bi-arrow-bar-left"></i>
                        <span class="text-center" >Go Back to Portfolio</span >
                    </button>

                    <form [formGroup] = "loginForm" (submit)="login()">
                    <p class="text-center">Please login to your account</p>
  
                    <div class="form-outline mb-4">
                      <input type="text" id="form2Example11" class="form-control" formControlName="userName"
                        placeholder="Phone number or email address" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" placeholder="Password" class="form-control" formControlName="password" />
                    </div>
  
                    <div class="text-center pt-1 mb-3 pb-1">
                      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                        in</button>
                      <a class="text-muted">Forgot password?</a>
                    </div>
  
                    <div class="d-flex align-items-center justify-content-center pb-4">
                      <p class="mb-0 me-2">Don't have an account?</p> &nbsp;
                      <button type="button" routerLink="/auth/register" class="btn btn-outline-danger">Create new</button>
                    </div>
  
                  </form>
  
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4">The Product is more than what you see!</h4>
                  <p class="small mb-0">It is a <b>Dynamic Portfolio Management Product</b> where you can add, delete details
                    related to your experience and skills you hold. This has been in parallel development 
                    from the Author - <b>Rohit Rana</b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>