@import "~bootstrap-icons/font/bootstrap-icons.css";
$theme-yellow: #F7CA52;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
.separator {
    border: none;
    width: 200px;
    height: 3px;
    color: #F7CA52;
    background: #F7CA52;
    margin-left: auto;
    margin-right: auto;
}

.image-separator {
    border: none;
    width: 75%;
    height: 3px;
    color: #F7CA52;
    background: #F7CA52;
    margin-left: auto;
    margin-right: auto;
}

.btn-utility {
    color: white !important;
    border: 1px solid $theme-yellow;
}
.btn-utility:hover {
    background: #ffdd81;
    color: black !important;
    font-weight: bolder;
}
.btn-hire {
    background: #ffdd81;
    color: unset;
    font-weight: bolder;
}
.btn-hire:hover {
    background: #F7CA52;
    color: unset;
    font-weight: bolder;
}
.noPad {
    padding-left: 0;
    padding-right: 0;
}
.dark {
    background: black;
}
.d-center {
    justify-content: center;
}
.header-center {
    text-align: center;
    color: #F7CA52;
}
a > button {
    color: black !important;
}
.social > a {
    margin-right: 5%;
}
.bi {
    font-size: 2rem;
    color: white;
}
.bi:hover {
    color: #F7CA52;
}