p > li {
    text-align: justify !important;
    font-size: 1.1rem;
}
.bg {
    background: black;
    height: 100vh;
    padding-top: 5%;
}

.btn-resume {
    background: #ffdd81;
    color: unset;
    font-weight: bolder;
}
h4{
    color: #F7CA52;
}