<div class="container-fluid main py-3">
    <section>
        <div class="row main-content">
            <div class="col-md-6">
                <div>
                    <span class="placeholder">I am </span>
                <span class="typed-element"></span>
                </div>
                <div>
                    <p class="separator"> </p>
                </div>
                <div class="my-3">
                    <span class="placeholder-secondary">Tech Enthusiast | Full Stack Dev | Problem Solver</span>
                </div>
                <div>
                    <button class="btn btn-hire mx-3">HIRE ME</button>
                    <button class="btn btn-utility">MY WORKS</button>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <span class="theme-text">HELLO!</span> -->
                <img src="../../assets/images/ppt-size-cropped.png" alt="" width="65%">
            </div>
        </div>
    </section>
</div>