p > li {
    text-align: justify !important;
}
.bg{
    background: black;
    height: 100vh;
    padding-top: 5%;
}
.social > a {
    margin-right: 5%;
}

.bi {
    font-size: 2rem;
    color: white;
}
