<div class="container-fluid header">
    <div class="row">
        <div class="col-md-4 name-title">
            <a href="#"><span>{{profileTitle | uppercase}}</span></a>
        </div>
        <div class="col-md-8 menu">
            <button class="btn" routerLink="/" (click)="loadMenu(navItem.home)"
                [ngClass]="{'selected': navValue == navItem.home}">Home</button>
            <button class="btn" routerLink="/profile" (click)="loadMenu(navItem.profile)"
                [ngClass]="{'selected': navValue == navItem.profile}">Profile</button>
            <a href="../../assets/pdf/Rohit Rana CV JFSD.pdf" target="_blank">
                <button class="btn">Resume</button>
            </a>
            <button class="btn" (click)="loadMenu(navItem.services)"
                [ngClass]="{'selected': navValue == navItem.services}">Services</button>
            <button class="btn" (click)="loadMenu(navItem.skills)"
                [ngClass]="{'selected': navValue == navItem.skills}">Skills</button>
            <button class="btn" (click)="loadMenu(navItem.contact)"
                [ngClass]="{'selected': navValue == navItem.contact}">Contact</button>
        </div>
    </div>
</div>