.btn {
  color: white !important;
}

.name-title,
.menu {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  &-head {
    align-items: center;
    font-size: 2.1em;
    font-weight: 600;
    text-align: center;
    color: white;
  }
  &-head:hover {
    text-shadow: 2px 2px 5px #f7ca52;
  }
}

a:hover {
  text-decoration: none;
}

.btn:not(:last-child) {
  margin-right: 10px;
}

.header {
  background: black;
  // position: sticky;
  z-index: 1;
  padding-bottom: 5px;
}

.btn:hover {
  color: #f7ca52 !important;
  border-bottom: 2px solid #f7ca52;
}
.selected {
  border-bottom: 2px solid #f7ca52;
}
