<div class="container-fluid">
    <div class="row dark py-2">
        <div class="col-md-12 header-center">
            <h3>PROFILE</h3>
            <div>
                <p class="separator"> </p>
            </div>
        </div>
    </div>
    <div class="row dark">
        <div class="col-md-4">
            <div class="card text-center dark border-warning mb-3 text-white">
                <div class="card-header border-warning">
                    <b>Details</b>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <li>Name: Rohit Rana</li>
                        <li>Age: {{age}} Years</li>
                        <li>Location: Pune - 411017</li>
                        <li>Email: <a href="mailto:rohit.rana0207@gmail.com"> {{userEmail}} </a></li>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card text-center dark border-warning mb-3 text-white">
                <div class="card-header border-warning">
                    <b>About Me</b>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <li>I am Full stack web developer. I love structure and order and I also stand out for quality.
                        </li>
                        <li>I love spending time in problem solving and developing new webapps.</li>
                        <li>I also like working in a team, you'll learn faster and more, as the saying goes: 'two heads
                            are better than one'.</li>
                        <li>I like to explore new Technologies and always strive to learn and try something new
                            everyday.
                    </p>
                    <a href="../../assets/pdf/Rohit Rana JFSD PR_CV24.pdf" target="_blank" download>
                        <button class="btn btn-resume">DOWNLOAD RESUME</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row dark py-2">
        <div class="col-md-12 header-center">
            <h3>EXPERIENCES</h3>
            <div>
                <p class="separator"> </p>
            </div>
        </div>
    </div>

    <div class="row dark noPad text-white d-center">
        <div class="col-md-2">
            <h4>Education</h4>
        </div>
        <div class="col-md-5">
            <h5>Bachelor- Computer Science and Engineering (73%)</h5>
            <p>Pune University</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2014 - 2018</p>
        </div>
    </div>
    <div class="row dark noPad text-white py-3 d-center">
        <div class="col-md-2">
            <h4></h4>
        </div>
        <div class="col-md-5">
            <h5>High School- Maths & Science (65%)</h5>
            <p>Maharashtra State Board</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2012 - 2014</p>
        </div>
    </div>

    <div class="row dark noPad text-white py-3 d-center">
        <div class="col-md-2">
            <h4></h4>
        </div>
        <div class="col-md-5">
            <h5>School - 10th (82%)</h5>
            <p>Maharashtra State Board</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2012</p>
        </div>
    </div>

    <div class="row dark noPad text-white d-center">
        <div class="col-md-2">
            <h4>Careers 5+ Years</h4>
        </div>
        <div class="col-md-5">
            <h5>Cyient Limited</h5>
            <p>Senior Software Engineer</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2021 - Present</p>
        </div>
    </div>

    <div class="row dark noPad text-white d-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <h5>Zensar Technologies Limited</h5>
            <p>Software Engineer</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2019 – 2021</p>
        </div>
    </div>

    <div class="row dark noPad text-white d-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-5">
            <h5>Amdocs DVCI Limited</h5>
            <p>Software Engineer</p>
        </div>
        <div class="col-md-4">
            <p class="italic">2018 - 2019</p>
        </div>
    </div>
</div>