.skills-50{
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}
.b-2-white {
    border-right: 2px solid #F7CA52;
}
.progress {
    height: 20px;
}
.skills-50 > div {
    font-size: 1.1rem;
}
h4{
    color: #F7CA52;
}