p > li {
    text-align: justify !important;
    font-size: 1.1rem;
}
.bg {
    background: black;
    height: 100vh;
    padding-top: 5%;
}

.btn-resume {
    background: #ffdd81;
    color: unset;
    font-weight: bolder;
}
h4{
    color: #F7CA52;
}

table {
    width: 100%;
  }
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

  @media (min-width:768px) {
    table, .mat-paginator-sticky {
      width: 60%;
    }
    .filter, .update {
      margin-left: 20%;
    }
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

  th {
    background: #F4DEA4;
    z-index: 1;
    color: black;
    font-size:15px;
  }
  
    th.mat-header-cell:last-of-type,
    td.mat-cell:last-of-type,
    td.mat-footer-cell:last-of-type {
      padding-right: 10px !important;
    }
    
    th.mat-header-cell:first-of-type,
    td.mat-cell:first-of-type,
    td.mat-footer-cell:first-of-type{
      padding-left: 10px !important;
    }

  .mat-column-id, .mat-column-frequency, .mat-column-category {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
  }

  td.mat-column-frequency {
    text-align: center !important;
  }

  //input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #F7CA52!important;
  // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: #F7CA52!important;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}